.menu {
    background-color: #D8B4D1;
    
}
.logoKindra {
    width: 100px;
    
}
#containerNav {
    width:fit-content;
    margin: 0;
}
.cajaLinks {
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: rows;
    width: 700px
}

#link {
   
    text-decoration: none;
    color: black
}
#link:hover {
    color: rgb(92, 86, 86)
}
#linksPapeleria {
    background-color: #D8B4D1;
  
}


/* -----RESPONSIVE DESIGN ----- */
@media screen and (min-width: 360px) and (max-width:875px) {
   .logoKindra {
       width: 20%;
   }
}
