@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Serif:wght@200&display=swap');

.item-list{
    background-color: #FFF2E8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.item {
    padding: 10px;
   
}
.title {
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.fotos {
    border-radius:5px;
    margin-bottom: 10px
}
.description {
    font-family: 'Roboto Serif', serif;
}
.botonProductos {
    font-size: 1em;
    background-color: #FFE1E9;
    border-style:double;
    border-color:#CCAACB;
    border-radius: 10px;
    padding: 4px;
    margin: 10px;
}

/* ------RESPONSIVE DESIGN------ */

@media screen and (min-width: 360px) and (max-width: 875px) {
    .item-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .item {
        font-size: 1em;
    }
  
    .description {
        font-size: 1.1em;
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .stock {
        font-size: 1.3em
    }
    .fotos {
        width: 100%
    }
    .botonProductos {
        font-size: 1em;
        border-radius: 10%;
        margin-bottom: 4%;
    }
}